<h2 class="font-bold mt-12 pb-2 border-b border-gray-200">Books and Notes recommended by IIITM:</h2>
<div class="mt-8 grid grid-cols-3">
    <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Data Structures and Algorithms</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 4</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/org?subject=dsa"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
      <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Physics</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 0</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/org?subject=physics"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
      <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Maths</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 0</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/org?subject=maths"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
      <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Database Management Systems</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 0</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/org?subject=dbms"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
</div>
<h2 class="font-bold mt-12 pb-2 border-b border-gray-200">Custom Books and Notes:</h2>
<div class="mt-8 grid grid-cols-3">
    <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Data Structures and Algorithms</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 0</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/usr?subject=dsa"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
      <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Physics</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 0</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/usr?subject=physics"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
      <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Maths</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 0</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/usr?subject=maths"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
      <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          
          <span class="font-bold">Subject: Database Management Systems</span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Total Notes: 0</span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/usr?subject=dbms"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
    
</div>