<h2 class="font-bold mt-12 pb-2 border-b border-gray-200">Your Reports:</h2>

<div class="mt-8 grid grid-cols-3">

  <div class="card shadow-md border-t-4 border-blue-300">
    <div class="m-4">
      <div class="badge bg-blue-400 w-max card">
        <div class="text-white text-sm m-2">25th May 2021, 11:34 PM</div>
      </div>
      <span class="font-bold">DSA Quiz</span>
      
      <div class="w-100 flex">
        <span class="block text-gray-500 text-sm">199/300 Marks</span>
        <a href="" class="ml-auto"
          ><span class="text-blue-600 text-sm">View reports >>></span></a
        >
      </div>
    </div>
  </div>
  
</div>

<link rel="stylesheet" href="/static/tailwind/tailwind_classic.css" />
