<!-- <div class="cards">
  <div class="card-single">
    <div>
      <h1>54</h1>
      <span>Customers</span>
    </div>
    <div>
      <span class="las la-users"></span>
    </div>
  </div>

  <div class="card-single">
    <div>
      <h1>70</h1>
      <span>Projects</span>
    </div>
    <div>
      <span class="las la-clipboard"></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>59</h1>
      <span>Orders</span>
    </div>
    <div>
      <span class="las la-shopping-bag"></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>No</h1>
      <span>Income</span>
    </div>
    <div>
      <span class="lab la-google-wallet"></span>
    </div>
  </div>
</div>

<div class="recent-grid">
  <div class="projects">
    <div class="card">
      <div class="card-header">
        <h3>Recent Projects</h3>

        <button>See all <span class="las la-arrow-right"></span></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table width="100%">
            <thead>
              <tr>
                <td>Project Title</td>
                <td>Department</td>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>UI/UX Design</td>
                <td>UI Team</td>
                <td>
                  <span class="status purple"></span>
                  Review
                </td>
              </tr>
              <tr>
                <td>Web Dev</td>
                <td>FrontEnd</td>
                <td>
                  <span class="status pink"></span>
                  In Progress
                </td>
              </tr>
              <tr>
                <td>UShop App</td>
                <td>Mobile Team</td>
                <td>
                  <span class="status orange"></span>
                  Pending
                </td>
              </tr>
              <tr>
                <td>UI/UX Design</td>
                <td>UI Team</td>
                <td>
                  <span class="status orange"></span>
                  Review
                </td>
              </tr>
              <tr>
                <td>Web Dev</td>
                <td>FrontEnd</td>
                <td>
                  <span class="status orange"></span>
                  In Progress
                </td>
              </tr>
              <tr>
                <td>UShop App</td>
                <td>Mobile Team</td>
                <td>
                  <span class="status"></span>
                  Pending
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="customers">
    <div class="card">
      <div class="card-header">
        <h3>New Customers</h3>

        <button>See all <span class="las la-arrow-right"></span></button>
      </div>

      <div class="card-body">
        <div class="customer">
          <div class="info">
            <img
              src="static/dashboard/img.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Lewis S. SOmething..</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>

        <div class="customer">
          <div class="info">
            <img
              src="static/dashboard/img.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Lewis S. SOmething..</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
        <div class="customer">
          <div class="info">
            <img
              src="static/dashboard/img.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Lewis S. SOmething..</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
        <div class="customer">
          <div class="info">
            <img
              src="static/dashboard/img.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Lewis S. SOmething..</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
        <div class="customer">
          <div class="info">
            <img
              src="static/dashboard/img.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Lewis S. SOmething..</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
        <div class="customer">
          <div class="info">
            <img
              src="static/dashboard/img.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Lewis S. SOmething..</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div>Not Yet Ready</div>