<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Nova - Bootstrap 5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/static/landing_page/css/bootstrap-5.0.0-beta1.min.css" />
    <link rel="stylesheet" href="/static/landing_page/css/LineIcons.2.0.css"/>
    <link rel="stylesheet" href="/static/landing_page/css/tiny-slider.css"/>
    <link rel="stylesheet" href="/static/landing_page/css/animate.css"/>
    <link rel="stylesheet" href="/static/landing_page/css/lindy-uikit.css"/>
</head>
<body>
    <main><%- body %></main>
</body>
</html>