<div class="h-screen w-screen grid grid-cols-1 justify-items-center">
    <div></div>
    <div class="bg-blue-400 card rounded-xl w-2/5 h-2/5 shadow-lg">
        <h2 class="mt-8 text-white font-bold text-3xl w-full text-center">Your quiz has been submitted</h2>
        <a href="/user-reports"><h2 class="my-8 mx-auto duration-700 text-center w-4/5 bg-transparent text-white text-xl py-2 px-4 border rounded-full border-transparent hover:border-white">View quiz reports  >>></h2></a>
    </div>
    <div></div>
</div>

<link rel="stylesheet" href="/static/tailwind/tailwind_classic.css">