body {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
  align-content: center;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3 {
  font-family: "Kaushan Script", cursive;
}

form{
  padding: 0 3em;
}

.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}
.tx-tfm {
  text-transform: uppercase;
}
.mybtn {
  border-radius: 25px;
  width: 100%;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.google {
  width: 100%;
  height: 40px;
  text-align: center;
  outline: none;
  color: white;
  background-color: #ea4335;
  border: 1px solid lightgrey;
}
form .error {
  color: #ff0000;
}
#second {
  display: none;
}


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 25px;

  transition: all .1s ease-in-out;
}

.form-label-group input {
  height: auto;
  border-radius: 15px;
}
