<h2 class="font-bold mt-4 pb-2 border-b border-gray-200">Add a curriculum subject:</h2>
<form action="/admin/add-subject" method="POST">
  <input type="text" name="subject_name" id="subject_name">
  <!-- TODO:Subject Code must not contain spaces -->
  <input type="text" name="subject_code" id="subject_code">
  <input type="submit" class= "bg-blue-300 rounded-full py-4 px-12 w-max font-bold text-white text-xl hover:bg-blue-500 transition- duration-500 mt-8" value="Add Subject">
</form>

<h2 class="font-bold mt-4 pb-2 border-b border-gray-200">Upload Books and Notes recommended by this organization:</h2>
<div class="mt-8 grid grid-cols-3">
  <% for (var i=0; i < resp_data.length; i++) {%>
    <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          <!-- TODO: Load subjects from a org-to-subject list -->
          <span class="font-bold">Subject: <%= resp_data[i].subject_name %></span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Subject Code: <%= resp_data[i].subject_code %></span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="view-inventory?subject=<%= resp_data[i].subject_code %>"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View and Upload >>></span></a
            >
          </div>
        </div>
      </div>
    <% } %>
</div>