<div>Profile page Not Yet Ready</div>
<a href="/users/logout">
    <div class="bg-blue-300 rounded-full py-4 px-12 w-max font-bold text-white text-xl hover:bg-blue-500 transition- duration-500">Logout</div>
</a>
